In [136]:
# import libraries
import pandas as pd

In [195]:
# Create raw data into dataframe
data = {
    'activity_date': ['2024-03-17 10:44:29.999 +0700','2024-03-17 10:45:38.285 +0700',
                      '2024-03-17 10:52:11.714 +0700','2024-03-17 10:52:16.571 +0700',
                      '2024-03-17 10:53:05.285 +0700','2024-03-17 10:54:44.714 +0700',
                      '2024-03-17 10:56:49.857 +0700','2024-03-17 11:00:16.571 +0700',
                      '2024-03-17 11:01:40.285 +0700','2024-03-17 11:04:09.999 +0700',
                      '2024-03-17 11:05:15.428 +0700','2024-03-17 11:07:25.428 +0700',
                      '2024-03-17 11:08:54.999 +0700','2024-03-17 11:11:36.857 +0700',
                      '2024-03-17 11:11:47.714 +0700','2024-03-17 11:12:48.285 +0700'],
    'gender': ['female','female','female','female','female','female','female','female','female','female','female','female','female','female', 'female', 'male'],
    'activity': ['in','in','out','out','out','in','out','out','in','out','out','in','out','in','in','out']
    }

df = pd.DataFrame(data)

In [198]:
# Change datatype of column activity_date into timestamp
df['activity_date'] = pd.to_datetime(df['activity_date'])

# Separate by gender and activity
df_in = df[(df['gender'] == 'female') & (df['activity'] == 'in')].sort_values(by=['activity_date']).reset_index(drop=True)
df_out = df[(df['gender'] == 'female') & (df['activity'] == 'out')].sort_values(by=['activity_date']).reset_index(drop=True)

# Rename columns
df_in.rename(columns={'activity_date':'activity_date_in',
                      'gender': 'gender',
                      'activity': 'activity_in'}, inplace=True)
df_out.rename(columns={'activity_date':'activity_date_out',
                      'gender': 'gender',
                      'activity': 'activity_out'}, inplace=True)

In [199]:
print(df_in)

                  activity_date_in  gender activity_in
0 2024-03-17 10:44:29.999000+07:00  female          in
1 2024-03-17 10:45:38.285000+07:00  female          in
2 2024-03-17 10:54:44.714000+07:00  female          in
3 2024-03-17 11:01:40.285000+07:00  female          in
4 2024-03-17 11:07:25.428000+07:00  female          in
5 2024-03-17 11:11:36.857000+07:00  female          in
6 2024-03-17 11:11:47.714000+07:00  female          in

In [200]:
print(df_out)

                 activity_date_out  gender activity_out
0 2024-03-17 10:52:11.714000+07:00  female          out
1 2024-03-17 10:52:16.571000+07:00  female          out
2 2024-03-17 10:53:05.285000+07:00  female          out
3 2024-03-17 10:56:49.857000+07:00  female          out
4 2024-03-17 11:00:16.571000+07:00  female          out
5 2024-03-17 11:04:09.999000+07:00  female          out
6 2024-03-17 11:05:15.428000+07:00  female          out
7 2024-03-17 11:08:54.999000+07:00  female          out

In [202]:
def merge_raw_data(df_in, df_out):
    combined_data = []
    paired_dates = set()

    for index1, row1 in df_in.iterrows():
        for index2, row2 in df_out.iterrows():
            if row1['activity_date_in'] < row2['activity_date_out'] and row2['activity_date_out'] not in paired_dates:
                combined_data.append({
                    #'index_in': row1['index_in'],
                    'activity_date_in': row1['activity_date_in'],
                    'activity_in': row1['activity_in'],
                    'gender_in': row1['gender'],
                    #'index_out': row2['index_out'],
                    'activity_date_out': row2['activity_date_out'],
                    'activity_out': row2['activity_out'],
                    'gender_out': row2['gender']
                })
                paired_dates.add(row2['activity_date_out'])
                break  # Break the inner loop to avoid duplicate combinations

    return pd.DataFrame(combined_data)

merged_data = merge_raw_data(df_in, df_out)
print(merged_data)

                  activity_date_in activity_in gender_in  \
0 2024-03-17 10:44:29.999000+07:00          in    female
1 2024-03-17 10:45:38.285000+07:00          in    female
2 2024-03-17 10:54:44.714000+07:00          in    female
3 2024-03-17 11:01:40.285000+07:00          in    female
4 2024-03-17 11:07:25.428000+07:00          in    female

                 activity_date_out activity_out gender_out
0 2024-03-17 10:52:11.714000+07:00          out     female
1 2024-03-17 10:52:16.571000+07:00          out     female
2 2024-03-17 10:56:49.857000+07:00          out     female
3 2024-03-17 11:04:09.999000+07:00          out     female
4 2024-03-17 11:08:54.999000+07:00          out     female